.Contacto {
  position: relative;
}
.Contacto .flexContainer {
  display: flex;
  flex-wrap: wrap;
  min-height: calc(100vh - 4em);
}
.imgContainer {
  flex: 1;
  min-width: 15em;
  min-height: 15em;
}
.contactContainer {
  flex: 2;
  min-width: 40rem;
  display: flex;
  flex-direction: column;
}
.flexContainerInfo {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.Horario {
  min-width: 12em;
  max-width: 20em;
  flex: 1;
  margin: 2em;
}
.Horario p {
  margin: 0;
}
.h-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px dotted var(--color2);
  margin-bottom: 0.4em;
}
.h-item > p:nth-child(2) {
  font-weight: 700;
}
.sucursales {
  min-width: 15em;
  margin: 2em;
  flex: 1;
  color: var(--color1);
  max-width: 15em;
}
.sucursal {
  padding: 0 1em;
  margin: 2em;
  margin-left: 0;
  border-left: 4px solid var(--color1);
}
.sucursal > * {
  margin: 0;
}

.banner {
  background-color: var(--color2);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.bannerItem {
  margin: 1em;
  min-width: 10em;
}
.bannerItem > * {
  margin: 0;
}

.googleMap {
  min-height: 15em;
}

@media (max-width: 60rem) {
  .contactContainer {
    min-width: calc(100% - 6em);
  }
}
@media (max-width: 40rem) {
  .contactContainer {
    min-width: calc(100% - 6em);
  }
}
